*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif ;
}
.clear{
    clear: both;
}
.white-text{
    color: #fff !important ;
}
/* header */
#header {
    width: 100%;
    height: 46px;
    background-color: black;
    position: fixed;
    top:0;
    z-index: 1;
}
#nav{
    display:inline-block;
}
#nav, .subnav{
    list-style: none;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px ;
    display: inline-block;
}

#nav li:hover .subnav{
    display: block ;
}

#nav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#subnav {
    
}
#nav .nav-arrow-down{
    font-size: 12px;
    font-weight: 200;
}
#header .menu-btn,
#header .search-btn{
    float: right;
    cursor: pointer;
}
.menu-btn .menu-icon,
.search-btn .search-icon{
    color: white;
    font-size: 24px;
    line-height: 46px;
    padding: 0 25px;
    font-weight: 500;
    display: block;
}
.menu-icon:hover{
    background-color: #ccc;
    color: #000;
}
.search-btn .search-icon:hover{
    background-color: #f44336;
}
/* slider */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/ny.jpg) top 0 center / cover no-repeat;
}
#slider .slider-background{
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
    bottom: 0;
}
#slider .text-content{
    padding-bottom: 48px;
    padding-top: 25px;
}
/* content */
#content{
    width: 100%;
}
#content .section-content{
    margin-left: auto;
    margin-right: auto;
    width: 770px;
    padding-bottom: 96px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
#content .title-section{
    text-align: center;
    padding-top: 74px;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
}
#content .sub-title-section{
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    margin-bottom: 25px;
}
#content .content-about{
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    
}
#content .member-band{
    margin-top: 62px;
}
#content .member-item{
    float: left;
    text-align: center;
    width: 33.33333%;

}
#content .member-img{
    width: 60%;
    border-radius: 4px;
    margin-top: 15px;
}
.tour-section{
    background-color: #000;
}
.tickets-status li{
    color: #757575;
    font-size: 15px;
    background-color: #fff;
    list-style: none;
    padding: 11px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);;
}
#content .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
#content .ticket-available{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 3px;
    margin-right: 16px;
    margin-top: -3px;
}
.tour-place{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
}
.tour-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    font-size: 15px;

}
.tour-content{
    background-color: #fff;
    padding: 0 16px;
}

.tour-img{
    width: 100%;
    display: block;
}
.tour-img:hover{
    opacity: 0.6;
}

.tour-heading{
    padding: 15px 0;
    font-size: 15px;
}

.tour-time{
    color: #757575;
}

.tour-infor{
    margin: 15px 0;
    letter-spacing: 1.4;
    line-height: 24px;
}

.tour-btn{
    margin-bottom: 16px;
    display: inline-block;
    padding: 10px 13px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.tour-btn:hover{
    color: #000;
    background-color: #ccc;
}

/* modal*/
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    position: relative;  
    font-size: 15px;
    max-width: 90%;
    animation: modalFadeIn ease .5s;
}

.modal-close{
position: absolute;
right: 0;
padding: 10px;
color: #fff;
cursor: pointer;
}
.modal-close:hover{
    opacity: 0.8;
}
.modal-header{
    background-color: #009688;
    font-size: 30px;
    color: #fff;
    padding: 47px 16px;
    text-align: center;
}
.modal-heading{
}
.modal-icon{
    display: inline;
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}
.modal-title{
    display: inline;
}
.modal-ticket{
    font-style: initial;
    font-weight: 600;
    margin: 16px 0;
}
.modal-input{
    display: block;
    width: 100%;
    margin: 16px 0 24px;
    padding: 11px 8px;
}
.modal-email{
    font-style: initial;
    font-weight: 600;
    margin: 16px 0;
}
.modal-pay{
 display: block;
 width: 100%;
 color: #fff;
 background-color: #009688;
 padding: 16px 0;
 border: none;
 text-transform: uppercase;
}
.modal-pay:hover{
    opacity: 0.8;
    cursor: pointer;
    
}

.modal-helps{
    float: right;
    margin: 16px 16px 32px;
}
.modal-helps a{
    color: #2196F3;
}
.open{
    display: flex;
}
/* Contact */
.contact-content{
    padding: 32px 0 0;
}
.half-content{
    width: 50%;
    float: left;
}
.half-content ul{
    list-style: none;
}
.left-content{
    padding-right: 8px;
}
.right-content{
    padding-left: 8px;
}
.list-contact{
    font-size: 18px;
    font-style: initial;
    font-weight: 600;
    line-height: 1.5;
}
.list-contact i{
    width: 30px;
    display: inline-block;
}
.float-btn{
    margin-top: 8px;
    float: right !important;
}
.form-control{
    padding: 10px ;
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid #ccc;
}
.map-section img{
    width: 100%;
    filter: grayscale(50%);
}

/* footer */
#footer {

}

#footer .icon-social{
    font-size: 24px;
    text-align: center;
    padding: 64px;
    
}
.icon-social a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
.icon-social a:hover{
    color: rgba(0,0,0,0.3);
}
.icon-social .copy-right{
    font-size: 15px;
    margin: 15px;
    
}
.icon-social .copy-right a{
    text-decoration: underline;
}
@keyframes modalFadeIn {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
